main {
    margin: 20px;
    ul, li {
        list-style: none;
    }
    div[class*="col-"] > h4 {
        text-align: center;
    }
    .tab-content {
        border: 1px solid $border-color;
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 20px;
    }
    .thumbnail:hover {
        background-color: $nav-bg-color;
        cursor: pointer;
        outline: $font-color-hover solid 2px;
        .caption {
            color: $font-color-hover;
        }
    }
}