div {
    display: block;
}

a {
    text-decoration: none;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tr, td {
    border: 1px solid #ccc;
}

td:nth-of-type(2n+1) {
    width: 100px;
}

td:nth-of-type(2n) {
    width: 240px;
}

