.navbar {
  margin-bottom: 0; }
  .navbar .navbar-collapse {
    padding: 0 20px 0 20px; }
  .navbar .nav > li {
    width: 120px;
    text-align: center; }
  .navbar li:hover {
    background-color: #bbb; }

#content {
  margin: 0;
  padding: 0;
  width: 100%; }
  #content > img {
    width: 100%; }

main {
  margin: 20px; }
  main ul, main li {
    list-style: none; }
  main div[class*="col-"] > h4 {
    text-align: center; }
  main .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 20px; }
  main .thumbnail:hover {
    background-color: #eee;
    cursor: pointer;
    outline: #07a7e5 solid 2px; }
    main .thumbnail:hover .caption {
      color: #07a7e5; }

footer {
  margin: 0;
  padding: 0; }
  footer ul, footer li {
    list-style: none;
    padding: 0; }
  footer div[class*="col-"] > h4 {
    text-align: center; }
  footer > .jumbotron {
    margin-bottom: 0; }
